
.datalist::-webkit-scrollbar {
  width: 0px;
}

/* Track */
.datalist::-webkit-scrollbar-track {
  box-shadow: none;
  border-radius: 0;
}

/* Handle */
.datalist::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 0;
}

/* Handle on hover */
.datalist::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

.trendHead p{
  text-align: center;
  font-size: 24px;
  font-weight: 100;
  padding-bottom: 100px;
}

.trendDataContent {
  border-top: 1px solid gainsboro;
  padding-left: 0px;
  
}
.cs_title{
  font-weight: 100;
  margin: 0px;
}
.cs_body{
  font-weight: 700;
}
.ns_num{
  color:rgb(176, 172, 167);
  margin-top: 50px;
}
.play_sec {
  padding-top: 10px; 
  padding-bottom: 10px;
  
}
.play_sec_img{
  border-radius: 10px;
}
/* .datalist {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  margin: auto;
  padding: 0em 0.5em;  
} */



/* <div className={style.main}>
<div className={style.header}>
  <h2 className={style.htwo}>
    Instagram Top <span>Trends</span>
  </h2>
</div>

{/* Data section */
/* <div className={style.datalist}>
  <div className={style.subDataList}>
  {infos.map((info: any) => (
    <div key={info.id}>
      <div className={style.dataMain}>
        <div>{info.id}</div>
      <p>{info.title}</p>
      </div>
    </div>
  ))}
  </div>
</div>
</div> */ 